.action-panel {
  .heading {
    padding: 6px 6px 0;
    margin-bottom: 0;
  }

  .action,
  .super-action {
    display: block;
    color: $theme-default-text-color;
    background-color: $action-bg;
    padding: $action-padding;
    border: 1px solid $action-border-color;
    text-decoration: none;

    &:hover {
      background: $action-hover-bg;
    }

    span {
      display: block;
    }

    .info {
      font-size: 0.8em;
    }
  }

  .super-action {
    background-color: $super-action-bg;
  }
}