$colours: (
        blue: $envelope-bg-blue,
        green: $envelope-bg-green,
        yellow: $envelope-bg-yellow,
        orange: $envelope-bg-orange,
        pink: $envelope-bg-pink,
        purple: $envelope-bg-purple
);

.envelope {
  height: 100px;
  width: 150px;
  display: inline-block;
  position: relative;
  color: $gray-dark;
  background: $envelope-bg;
  border: 5px solid $envelope-border-color;
  @include transition(opacity 3s ease);

  &.template {
    @include opacity(0);
  }

  &:not(.new):hover {
    border-color: $theme-grey;
    @include border-top-radius(5px);
    @include border-bottom-radius(5px);
  }

  .background {
    width: 0;
    height: 0;
    z-index: 100;
    position: absolute;

    border-style: solid;
    border-width: 42.5px 70px 0 70px;
    border-color: #fff transparent transparent transparent;
  }

  .flap {
    width: 0;
    height: 0;
    position: absolute;
    z-index: 101;
    margin: 0 7.5px;
    border-style: solid;
    border-width: 36px 63px 0 63px;
    border-color: rgba($envelope-bg-blue, 0.45) transparent transparent transparent;
  }

  .details {
    padding: 5px;
    height: 100px;
    width: 100%;
    z-index: 102;
    position: absolute;

    .title {
      height: 50px;
      position: relative;

      .tag {
        cursor: pointer;
      }

      input {
        border: none;
        background-color: rgba(255, 255, 255, 0.6);

        @include border-top-radius(5px);
        @include border-bottom-radius(5px);
      }
    }

    .add {
      margin-top: -8px;
      font-size: 2em;

      span {
        color: darken($theme-grey, 15%);
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.6);
        padding: 2px 2px 2px 4.5px;
        @include border-top-radius(5px);
        @include border-bottom-radius(5px);
      }
    }

    .colours {
      position: absolute;
      background-color: rgba(255, 255, 255, 0.6);
      width: 100%;

      div {
        height: 10px;
        width: 10px;
        margin: 0 2.5px;
        display: inline-block;
        border: 1px solid $border-color;

        cursor: pointer;

        @each $class, $colour in $colours {
          &.colour[data-colour="#{$class}"] {
            background-color: $colour;
          }
        }
      }
    }
  }

  @each $class, $colour in $colours {
    &[data-colour="#{$class}"] {
      background: $colour;

      .flap {
        border-color: lighten($colour, 10%) transparent transparent transparent;
      }

      .tag {
        color: darken($colour, 10%);
      }
    }
  }
}

#envelope {
  @each $class, $colour in $colours {
    &.#{$class} {
      .header {
        background-color: lighten($colour, 10%);
        .icon {
          color: darken($colour, 10%);
        }
      }
    }
  }

  .header {
    color: $theme-grey;
    font-weight: bold;
  }

  .transaction {
    @extend .well;
    @extend .well-sm;
    font-weight: bold;
    line-height: 1.5;

    .action {
      font-weight: bolder;
    }
    .amount {
      padding: 2px 4px;
      color: #c7254e;
      background-color: #f9f2f4;
      border-radius: 4px;
    }
    .details {
      @extend .text-info;
    }
    .timestamp {
      display: inline-block;
    }
  }
}