$font-weight: 100;

$theme-grey: #ccc;
$theme-bg: #009cde;
$theme-default-text-color: #fff;
$headings-color: #eee;

$text-color: $theme-default-text-color;
$navbar-default-link-color: $theme-default-text-color;
$well-bg: $theme-bg;
$navbar-default-bg: $theme-bg;
$dropdown-bg: $theme-bg;

$dropdown-link-color: $theme-default-text-color;

$border-color: $theme-grey;
$border-color-active: #fff;



$envelope-border-color: #fff;

$envelope-bg-blue: #7ab6ed;
$envelope-bg-green: #92e09b;
$envelope-bg-yellow: #f7ff88;
$envelope-bg-orange: #f9d45d;
$envelope-bg-pink: #ff94d6;
$envelope-bg-purple: #b474d6;

$envelope-bg: $envelope-bg-blue;