$font-weight: 300;

$page-bg: #eee;
$page-container-bg: #fff;
$page-container-bg: #fff;

$theme-grey: #ccc;
$theme-bg: #009cde;
$theme-default-text-color: #333;
$theme-contrast-text-color: #fff;

$brand-primary: $theme-bg;

$theme-muted-background: #f5f5f5;
$theme-muted-color: $theme-grey;
$text-muted: $theme-muted-color;

$headings-color: $theme-default-text-color;

$well-bg: $theme-bg;
$navbar-default-bg: $theme-bg;
$dropdown-bg: $theme-bg;
$panel-default-heading-bg: $theme-bg;

$navbar-default-link-color: $theme-contrast-text-color;
$dropdown-link-color: $theme-contrast-text-color;
$panel-default-text: $theme-contrast-text-color;

$border-color: $theme-grey;
$border-color-active: #fff;

$envelope-border-color: #fff;

$envelope-bg-blue: #7ab6ed;
$envelope-bg-green: #92e09b;
$envelope-bg-yellow: #f7ff88;
$envelope-bg-orange: #f9d45d;
$envelope-bg-pink: #ff94d6;
$envelope-bg-purple: #b474d6;

$envelope-bg: $envelope-bg-blue;

$timeline-bar: $theme-bg;

$action-border-color: #fff;
$action-padding: 5px;
$action-bg: #f2f2f2;
$super-action-bg: #e7e7e7;
$action-hover-bg: #eee;