$font-weight: 100;

$theme-grey: #ccc;

$border-color: $theme-grey;
$border-color-active: #fff;

$envelope-border-color: #fff;

$envelope-bg-blue: #7ab6ed;
$envelope-bg-green: #92e09b;
$envelope-bg-yellow: #f7ff88;
$envelope-bg-orange: #f9d45d;
$envelope-bg-pink: #ff94d6;
$envelope-bg-purple: #b474d6;

$envelope-bg: $envelope-bg-blue;